---
layout: default
title: HouseTrip Developers Blog
---
{% for page in site.posts %}
  <div class="post">
    <h1><a href="{{ BASE_PATH }}{{ page.url }}">{{ page.title }}</a></h1>
    <div class="content">
      {% if page.summary %}
      <p>{{ page.summary }}</p>
      <p class="read"><a class="cupid-green" href="{{ BASE_PATH }}{{ page.url }}">Read the full article</a></p>
      {% else %}
      {{ page.content }}
      {% include author.html %}
      {% endif %}
    </div>
    {% if page.date %}
    <div class="date">{{ page.date | date_to_string }}</div>
    {% endif %}
  </div>
{% endfor %}
