<div id="side">
  <div class="panel top">
    <h3>HouseTrip</h3>
    <p>HouseTrip is the revolutionary short-term rental website, where you can find, book or list your holiday apartment easily and securely.</p>
  </div>

  <div class="panel developers">
    <h3>♫ Who&rsquo;s talking?</h3>
    <ul>
      <li>
        <a href="http://github.com/matthutchinson">
          <img src="http://www.gravatar.com/avatar/9e0e76de0fe26c1326da1a232d4dd2f2.png" width="24" height="24" alt="Matthew Hutchinson"/>
          <span>Matthew Hutchinson</span>
        </a>
      </li>
    </ul>
    </div>
    
    <div class="panel">
      <h3>✎ Back in time</h3>
      {% include posts_collate %}
    </div>
    <div class="panel">
      <h3>★ Categories</h3>
      {% include category_collate %}
    </div>
  </div>
</div>