<div id="footer">
  <ul>
    <li><a href="http://housetrip.com/en/about/housetrip">What is HouseTrip?</a></li>
    <li><a href="https://support.housetrip.com/forums">FAQs</a></li>
    <li><a href="http://blog.housetrip.com/team/housetrip-jobs">Jobs</a></li>
    <li><a href="http://twitter.com/housetrip" class="twitter" rel="nofollow" title="Follow HouseTrip on Twitter">@HouseTrip</a></li>
    <li class="last">
      <span>
        <a href="feed.xml" title="Rss feed"><img id="footer-rss-image" src="/images/feed-icon.png"/></a>
      </span>
    </li>
  </ul>
  <p class="terms">
    Use of this web site constitutes acceptance of the <a href="http://housetrip.com/en/about/terms_and_conditions">Terms and Conditions</a> and <a href="http://housetrip.com/en/about/privacy_policy">Privacy Policy</a>.<br/>
    &copy; HouseTrip SA 2012. All rights reserved.
  </p>
</div>
